<form [formGroup]="form">
    <div class="phone-input">
        <div class="input-group mb-3" style="width: max-content;">
            <div class="input-group-prepend" style="border-right: none">
                <div class="input-group-text" style="line-height: 38px;">
                    <span [ngClass]="{'flag-icon-br': flag == 'br','flag-icon-us': flag == 'us'}" class="flag-icon flag-icon-squared" (click)="toggleList()"></span>
                    <i class="fa fa-sort-desc" style="padding: 5px;" aria-hidden="true" (click)="toggleList()"></i>
                </div>
            </div>

            <input id="prefix-code" type="text" class="form-control" formControlName="countryCode">
            <input id="telephone-number" type="text" class="form-control" style="max-width: 15em;">
        </div>

        <div class="country-list" *ngIf="openList" style="width: 100%; height: 80px;">
            <div class="country-list-item" (click)="changeCountryCode('+55', 'br')">
                <span class="flag-icon flag-icon-br flag-icon-squared" style="margin-right: 10px;"></span>
                <span>Brasil</span>
            </div>
            <div class="country-list-item" (click)="changeCountryCode('+1', 'us')">
                <span class="flag-icon flag-icon-us flag-icon-squared" style="margin-right: 10px;"></span>
                <span>Estados Unidos</span>
            </div>
        </div>

    </div>
</form>