<form [formGroup]="form">
    <div class="phone-input">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span [ngClass]="getCountryFlag()" class="flag-icon flag-icon-squared" (click)="toggleList()"></span>
                    <i class="fa fa-sort-desc" aria-hidden="true" (click)="toggleList()"></i>
                </div>
            </div>

            <input id="prefix-code" type="text" class="form-control" formControlName="countryCode">
            <input id="telephone-number" type="text" mask="(00) 0 0000-0000" class="form-control" formControlName="telephone" (click)="openList = false" (change)="telephoneChanged()">
        </div>

        <div class="country-list" *ngIf="openList">
            <div class="country-list-item" (click)="changeCountryCode('+55', 'br')">
                <span class="flag-icon flag-icon-br flag-icon-squared"></span>
                <span>Brasil</span>
            </div>
            <div class="country-list-item" (click)="changeCountryCode('+1', 'us')">
                <span class="flag-icon flag-icon-us flag-icon-squared"></span>
                <span>Estados Unidos</span>
            </div>
        </div>

    </div>
</form>